body {
  background-color: #b8b8aa;
  margin: 50px;
}

#footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.logo {
  border: solid;
  border-radius: 1000px;
  width: 150px;
  height: 150px;
  margin-left: 150px;
  margin-top: 40px;
}

#destinations_title {
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 3px 1px lightblue;
}

h1 {
  text-align: center;
  font-size: 70px;
  width: 40%;
  padding-top: 20px;
  height: 100px;
  margin-left: 200px;
  background-color: #92140c;
  border-radius: 15px;
  text-shadow: 0 0 1px whitesmoke;
  border: solid 4px #000000;
}

.header {
  display: flex;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#destinationsSection {
  width: 69%;
}

#guests {
  width: 25%;
  border: groove 4px #1c2e03;
  text-align: start center;
  text-indent: 5px;
  font-family: "Preahvihear", sans-serif;
  font-size: 18px;
  height: fit-content;
  color: #638b29;
  background-color: #b6ba9b;
  border-radius: 25px;
  list-style-position: inside;
  text-shadow: 0 0 1px whitesmoke;
  margin-left: 50px;
}

#destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.destinationCard {
  width: 27%;
  border: solid;
  margin: 10px;
  padding-left: 20px;
  padding-right: 10px;
  background-image: url(https://images.nightcafe.studio/jobs/1xsuBmt4qX2qG4qOPMy7/1xsuBmt4qX2qG4qOPMy7--1--zm6cy.jpg?tr=w-1600,c-at_max);
  color: white;
  border-color: lavenderblush;
  box-shadow: 10px 10px 5px lightblue;
  text-shadow: 5px 5px 8px black;
  font-family: "Preahvihear", sans-serif;
}
#guests_title {
  text-align: center;
}
